<div ng-controller="ProductsController">
	<center> 
		<h3> Products </h3> 
		<hr>
		<input type="text" ng-model="name_filter" placeholder="Search products..." class="pull-right">
	</center>
	<h4>Add a new product</h4>
	<div class="form-group">
		<h5>Name:</h5> <input type="text" ng-model="newProduct.product">
		<h5>Image(Url):</h5> <input type="url" ng-model="newProduct.img">
		<h5>Description:</h5> <input type="text" ng-model="newProduct.description">
		<h5>Initial Quantity:</h5> <input type="number" ng-model="newProduct.quantity">
		<input ng-click="addProducts()" type="submit" class="btn btn-primary" value="Add">
	</div>
	<hr>
	<div class="panel-body" ng-init="limitProduct = 4">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="product in products | filter:name_filter | limitTo: limitProduct as results">
				<a href="#/orders"><img class="img-responsive" ng-src="{{ product.img }}" alt="" style="width:100px"></a>
				<p class="text-center">{{ product.product }} </p>
				</p>
				<p ng-show="product.quantity == 0"> 
					<img src="https://s3.amazonaws.com/rapgenius/filepicker%2Fy6AaJImFScOedg1OWPn5_soldout.jpg" alt="" style="width:100px">
				</p>
				<p ng-show="product.quantity > 0"> Quantity: {{ product.quantity }} </p> 
			</p>
			</div>
		</div>
		<p class="text-center">
			<p ng-show="limitProduct < products.length" class="text-center"><a href="" ng-click="limitProduct = products.length">Show more products...</a></p>
				<p ng-show="limitProduct >= products.length" class="text-center"><a href="" ng-click="limitProduct = 4">Show fewer products...</a></p>
		</p>
	</div>
</div>
